<div>
<h2>Create a new drone</h2>

<form action="/drones/create" method="post">
<label for="name">Nombre</label>
<input type="text" name="name">
<label for="propellers">Propulsores</label>
<input type="number" name="propellers">
<label for="maxSpeed">Máx. velocidad</label>
<input type="number" name="maxSpeed">
<button>Añadir</button>
</form>
</div>